node_modules
inception-v3-2016-03-01.tar.gz
inception_log
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-serving
/bazel-tensorflow
/bazel-tensorflow-serving
/bazel-tensorflow_serving
/bazel-testlogs
/bazel-tf
/bazel-workspace
/inception-v3
/inception-export
/third_party/py/numpy/numpy_include
/util/python/python_include
/util/python/python_lib
